server {
  listen 80;
  listen [::]:80;

  server_name {{ domain }};

  client_max_body_size 10M;

  location ^~ /.well-known/acme-challenge/ {
    default_type "text/plain";
    root /srv/www/{{ domain }}/;
  }

  location / {
    return 301 https://$host$request_uri;
  }
}
